<header class="header">
  <div class="container">
    <div class="header_inner">
      <div class="left-block">
        <a class="logo" routerLink="">Mooviegle</a>
      </div>
      <nav class="nav">
        <app-social-menu></app-social-menu>
        @if (!authState.isLoggedIn()) {
          <a (click)="userLogin()">Увійти</a>
        } @else {
          <div class="btn-template dropdown-button">
            {{ authState.email() }} <span class="arrow">
              <fa-icon [icon]="arrowDown"></fa-icon>
            </span>
            <div class="dropdown-container">
              <div class="dropdown-wrapper dropdown-auto-width">
                <div class="menu-option-item" routerLink="collection">
                  Моя колекція
                </div>
                <div class="menu-option-item" (click)="signOut()" routerLink="">
                  Вийти
                </div>
              </div>
            </div>
          </div>
        }
      </nav>
    </div>
  </div>
</header>
