a {
  text-decoration: none;
}

.card-container {
  display: flex;
  flex-direction: row;
  max-width: 1188px;
  margin: 30px auto;
  background: linear-gradient(to right, rgba(12.55%, 16.47%, 16.86%, 1.00) 150px, rgba(12.55%, 16.47%, 16.86%, 0.84) 100%);

  .movie-img {
    width: 150px;
    min-width: 150px;
    padding: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    font-family: "montserrat-medium";
    font-size: 15px;
    color: #f0ffff;
    width: 100%;
    padding: 0 40px;

    .title {
      font-family: "montserrat-semibold";
      font-size: 25px;
    }

    span {
      font-family: "montserrat-regular";
    }

    .description {
      //обмеження висоти тексту
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.card-container:last-child {
  margin-bottom: 0;
}

.nocollection {
  font-size: 25px;
  color: #f0ffff;
  text-align: center;
  margin: 30px;
}
