@use './styles/fonts';

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'montserrat-regular', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.6;
  width: 100%;
}

.register-custom-styles {
  max-width: 100vw !important;
}

.register-custom-styles .mat-mdc-dialog-container,
.register-custom-styles .mat-dialog-container {
  padding: 0;
  border-radius: 0;
  overflow: hidden;
}

.register-custom-styles .mat-mdc-form-field-infix,
.register-custom-styles .mat-form-field-infix {
  width: auto;
}
